// Don't wory about this file, you won't need to touch it.

{
    "presets": [
      ["@babel/env", {
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all"
          ]
        },
        "modules": false
      }]
    ],
  }